dbt-postgres==0.21.0
MarkupSafe==2.0.1
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
